

/* your styles go here */
#logo-text{
     background: #ff4486;
     color: white;
     border-radius: 6px;
     font-family: 'Arial', serif;
     font-weight: 500;
     padding: 0.25em 0.2em 0.25em 0.2em;
     font-size: 1.55em;
     letter-spacing: 0.05em;
     bottom: 3em;
     margin-top: -0.01em;
 }

#logo-text-small{
    background: #ff4486;
    color: #00b3ee;
    border-radius: 6px;
    font-family: 'Arial', serif;
    font-weight: 400;
    padding: 0.25em 0.2em 0.25em 0.2em;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    bottom: 3em;
    margin-top: -0.22em;
    margin-right: 3em;
}


#block-special-header{
    color: red;
}

#yelpreviews {
    border: 1px solid #ccc;
    background-color: #f9f2f4;
    border-radius: 6px;

}

#top {
    background: gainsboro;
    color: black;
}

#toptext {
    color: black;
    font-size: 300%;
    font-family: "Helvetica Neue";
}

.mainvideoblock {
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    /*height: 55vh;*/
    /*height: 200px;*/
    z-index: 0;

    /*overflow:hidden;*/
    /*display:block;*/

}
.mainvideoblock h1{
    text-align: center;
    font: 3em/1.4 helvetica neue, helvetica, arial, sans-serif;
    font-family: FontAwesome;
    /*color: #Cc9900;*/
    color: black;
    /*background-color:rgba(255,255,255,0.99);*/

    background-color:rgba(65,183,216,0.99);
    border-radius: 7px;
    border: 2px solid black;
    /*ackground-color:rgba(255, 255, 255, 0.5);*/
    position: absolute;
    left: 150px;
    top: 50px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    z-index: 100;
}

.mainvideoblock video{
    /*/!*height: 100px;*!/*/
    /*height: auto%  !important;*/
    /*/!*height: 100px;*!/*/
    z-index: 0;
    -webkit-transform: scaleX(4);
    -moz-transform: scaleX(4);
    /*margin-left: -220px;*/
}



.photos {
    /*background: skyblue;*/
    /*background-image: image("/images/coconut.jpg");*/
    /*background-size: cover;*/
    /*background: url('/images/coconut.jpg');*/
    /*background-size: 100%;*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
}

/*#background {*/
    /*background-color:#000000;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*position: fixed;*/
    /*left: 0px;*/
    /*top: 0px;*/
    /*z-index: -1;*/
/*}*/


/*#background2 {*/
    /*background-color:#000000;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*position: fixed;*/
    /*left: 0px;*/
    /*top: 0px;*/
    /*z-index: -1;*/
/*}*/

/*.stretch {*/
    /*width:100%;*/
    /*height:100%;*/
/*}*/

#yelpreviews {
    border: 1px solid #ccc;
    background-color: #f9f2f4;
    border-radius: 6px;

}